spring:
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./database.db;DB_CLOSE_ON_EXIT=FALSE
  thymeleaf:
    cache: false
addon:
  key: com.robocat.shopify.jsd-integration
  base-url:  https://mderaz.au.ngrok.io
logging.level.com.atlassian.connect.spring: DEBUG
logging.level.retrofit2.OkHttpCall: DEBUG
logging.level.org.apache.http: DEBUG
atlassian:
  connect:
    redirect-root-to-descriptor: false

shopify:
  baseUrl: https://robocat.myshopify.com/admin/api/2019-04/
  apiKey: c801133432c5ffeabd0577b286ad8df3
  apiPassword: 97057d1c385e4bb55c639abe3b224d1c


---

spring:
  thymeleaf:
    cache: true
  profiles: production
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
logging.level.com.atlassian.connect.spring: DEBUG

addon:
  base-url: https://jsd-shopify.herokuapp.com


