<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
    <meta name="connect-token" th:content="@{${atlassianConnectToken}}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{'/assets/main.css'}"/>
    <title>Shopify JSD Integration</title>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<section id="app"></section>
<script th:src="@{'/assets/bundle.js'}"></script>
</body>
</html>